#navbar {
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

#logo img {
    margin: 10px 20px;
}

#navbar ul li a {
    font-size: 1.0rem;
    padding: 2px 8px;
}

#navbar::before {
    height: 157.8px;
}

#home {
    padding: 8px 10px;
    height: 400px;
}

#home::before {
    height: 557.8px;

}

#home p {
    font-size: 1rem;
    padding: 15px 0px;
}

#services {
    flex-direction: column;
}

#services .box {
    margin: 10px 6px;

}

#services .box img {
    height: 100px;

}

#clients {
    flex-wrap: wrap;
}

.clients-item {
    padding: 6px;
}

#clients img {
    height: 75px;
}

#contact-box form {
    width: 80%;
}

.h-primary {
    font-size: 2.1rem;
    padding: 10px 0px;
}